# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Python
__pycache__/
.pytest_cache/
.venv/
*.pyc

# Env
.env
.env.*

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
